<div class="row">
    {#  Spalte 1  #}
    <div class="col-sm-8 col-md-6 border-end border-2">
        <div class="row">
            <div class="col">
                {{ form_label(subscriptionFormular.name) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_widget(subscriptionFormular.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_label(subscriptionFormular.costs) }}
            </div>
            <div class="col">
                {{ form_label(subscriptionFormular.period) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_widget(subscriptionFormular.costs) }}
            </div>
            <div class="col">
                {{ form_widget(subscriptionFormular.period) }}
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col">
                    {{ form_label(subscriptionFormular.startDate) }}
                </div>
                <div class="col">
                    {{ form_label(subscriptionFormular.cancelDate) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_widget(subscriptionFormular.startDate) }}
                </div>
                <div class="col">
                    {{ form_widget(subscriptionFormular.cancelDate) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_label(subscriptionFormular.paymentType) }}
            </div>
            <div class="col">
                {{ form_label(subscriptionFormular.category) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_widget(subscriptionFormular.paymentType) }}
            </div>
            <div class="col">
                {{ form_widget(subscriptionFormular.category) }}
            </div>
        </div>

    </div>
    {#  Spalte 2  #}
    <div class="col">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Zahlungen</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_label(paymentFormular.date) }}
            </div>
            <div class="col">
                {{ form_label(paymentFormular.amount) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_widget(paymentFormular.date) }}
            </div>
            <div class="col">
                {{ form_widget(paymentFormular.amount) }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2 text-center">
                {{ form_row(paymentFormular.save, {'attr':{'class':'btn-primary'}}) }}
            </div>
        </div>
    </div>
    {# Buttons #}
    <div class="row mt-4">
        <div class="col-2 text-center">
            {{ form_row(subscriptionFormular.save, {'attr':{'class':'btn-primary'}}) }}
        </div>
        <div class="col-2 text-center">
            {#            {{ form_row(subscriptionFormular.cancel, {'attr':{'class':'btn-primary','formnovalidate':'formnovalidate'}}) }} #}
            {{ form_row(subscriptionFormular.cancel, {'attr':{'class':'btn-primary'}}) }}
        </div>
        {% if deletebutton %}
            <div class="col-2 text-center">
                {{ form_row(subscriptionFormular.delete, {'attr':{'class':'btn-danger'}}) }}
            </div>
        {% else %}
            <div class="col-2 text-center">
                {{ form_row(subscriptionFormular.delete, {'attr':{'class':'hidden-row'}}) }}
            </div>
        {% endif %}
    </div>
</div>
